*,
*::before,
*::after {
  box-sizing: border-box;
}

.inputsizer {
  display: inline-grid;
  vertical-align: top;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border: solid 1px;
  padding: 0.25em 0.5em;
  margin: 5px;
}
.inputsizer.stacked {
  padding: 0.5em;
  -webkit-box-align: stretch;
  align-items: stretch;
}
.inputsizer.stacked::after,
.inputsizer.stacked input,
.inputsizer.stacked textarea {
  grid-area: 2 / 1;
}
.inputsizer::after,
.inputsizer input,
.inputsizer textarea {
  width: auto;
  min-width: 1em;
  grid-area: 1 / 2;
  font: inherit;
  padding: 0.25em;
  margin: 0;
  resize: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
.inputsizer span {
  padding: 0.25em;
}
.inputsizer::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
}
.inputsizer:focus-within {
  outline: solid 1px blue;
}
.inputsizer:focus-within > span {
  color: blue;
}
.inputsizer:focus-within textarea:focus,
.inputsizer:focus-within input:focus {
  outline: none;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: black;
  padding: 15px;
  display: flex;
  align-content: center;
  position: relative;
  color: white;
}
.line {
  width: 2px;
  height: 100%;
  background-color: black;
  align-self: center;
  margin: 5px 0;
}

.touched {
  background-color: green;
}
.container {
  display: flex;
}
.progress {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
}
.inputFields {
  display: flex;
}
