.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000313;
  height: 100vh;
  width: 100%;
}

.submitButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
